:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';

    /* Paleta de colores */

    --color1: #032326;
    --color2: #255459;
    --color3: #177373;
    --color4: #F27777;
    --color5: #D98B8B;
}

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

/* Task Item Component */
.container{
    background: var(--color4);
    padding: 2rem;
    margin: 1rem 0
}

