:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
    --input: grey;

    /* Paleta de colores */

    --color1: #032326;
    --color2: #255459;
    --color3: #177373;
    --color4: #F27777;
    --color5: #D98B8B;
}

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

/* Task Item Component */
.container{
    background: var(--color4);
    padding: 2rem;
    margin: 1rem 0;
    /* display:flex; */
    
}

TaskItem{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.itemBtns button{
    align-items: space-between;
    align-content: center;
    margin: 0 2vw 0 0;
    padding: 0.2% 1rem 0.2% 1rem;
    box-shadow: -0.1rem 0.1rem 0 0rem var(--color1);
}

.container input{
    display: flex;
    flex-direction: column;
    color:var(--input);
    padding: 0 3rem
}

.container input:last-of-type{
        padding: 0.7rem 3rem
}